details details .group-label .large {
	display: block;
	font-size: 15px;
	font-weight: 500;
	padding-top: 2px;
}
details details .group-label .large {
	display: block;
	font-size: 15px;
	font-weight: 600;
}

details details ul li a {
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 14px;
}

.hero {
	padding-block: clamp(1.255rem, calc(0.5rem + 5vmin), 5rem);
}

h2 + h3 {
	padding-top: 1rem;
}
